

body {
    background: -webkit-linear-gradient(right, #0d0729, #111111);   
    padding: 0;
    margin: 0;
    font-family: 'pixelify sans';
}

/* navigation bar w/ logo & title */
nav {
    display: flex;
}

h4 {
    color: white;
}

/* container of the Game */
.center-game {
    color: white;
    text-align: center;
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    background-image: url("images/start\ game\ bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

/* text of the the game */
.title {
    font-size: 4em;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start {
    font-size: 3em;
}

.scoring {
    font-size: 20px;
    margin-top: -30px;
}