@font-face {
    font-family: pixelFont;
    src: url(ttf/yoster.ttf);
}

* {
    font-family: pixelFont, Courier, monospace;
}

body {
    background: -webkit-linear-gradient(right, #0d0729, #111111);   
    padding: 0;
    margin: 0;
}

/* navigation bar w/ logo & title */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container h4 {
    color: white;
}


/* nav options */
.nav-options {
    display: flex;
}

.nav-options  h4 {
    cursor: pointer;
    color: white;
    margin: 0 1rem;
}


/* login */
#login-center-form {
    display: none;
    position: fixed;
    top: 30%;
    left: 35%;
    width: 100%;
}

.form-container {
    position: relative;
    border-radius: 30px;
    background: black;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    width: 30%;
    padding: 0 1rem 2rem 1rem;
    box-shadow: 0px 3px 8px rgb(0, 0, 0.25);
}

.form-container h1 {
    color: white;
}

.form-container input {
    border-radius: 30px;
    padding: 10px;
    margin: 5px 0;
    outline: none;
}

.form-container #loginbtn_registerbtn {
    cursor: pointer;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    padding: 5px;
    width: 30%;
    margin: 10px auto;
}


/* register */
#register-center-form {
    display: none;
    position: fixed;
    top: 20%;
    left: 35%;
    width: 100%;
}

/* x register / login */
.xIcon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 5%; 
}


/* container of the Game */
.center-game {
    border: 5px solid rgb(0, 0, 0);
    position: relative;
    color: white;
    text-align: center;
    width: 60rem;
    height: 25rem;
    margin: 3em auto;
    background-image: url("images/start\ game\ bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}


/* music icon */
#musicButton {
    position: absolute;
    inset: 10px 5px;
}


/* text of the the game */
.title {
    margin-top: 0;
    font-size: 4em;
    color: #fff;
    text-align: center;
    text-shadow:
    3px 3px 0 #000000,
    -3px 3px 0 #ff0000,
    -3px -3px 0 #000000,
    3px -3px 0 #000000;
}

.start a {
    color: white;
    text-decoration: none;
}

.start-container {
    display: grid;
    place-items: center;
}

.start {
    color: #fff;
    text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
    font-size: 3em;
}


/* RESPONSIVENESS */
@media (max-width: 930px) {
    .center-game {
        width: 50rem;
        height: 20rem;
    }

    .title {
        font-size: 4em;
        color: #fff;
    }

    .start {
        font-size: 3em;
    }

    #musicButton {
        width: 35px;
        inset: 15px 5px;
    }

    .form-container {
        padding: 0 2rem 2rem 2rem;
    }

    .form-container h1 {
        font-size: 2rem;
    }

    .form-container input {
        width: 80%;
    }

    .form-container #loginbtn_registerbtn {
        width: 50%;
    }
}

@media (max-width: 800px) {

    .center-game {
        width: 35rem;
        height: 17.5rem;
        margin: 5em auto;
    }

    .title {
        font-size: 3em;
        color: #fff;
    }

    .start {
        font-size: 2em;
    }

    #musicButton {
        width: 30px;
    }

    #login-center-form {
        left: 30%;
    }
    
    #register-center-form {
        left: 30%;
    }
}

@media (max-width: 570px) {
    .center-game {
        width: 25rem;
        height: 12rem;
    }

    .title {
        font-size: 2em;
        color: #fff;
    }

    .start {
        font-size: 1.5em;
    }

    #musicButton {
        width: 25px;
        inset: 5px 3px;
    }

    .form-container #loginbtn_registerbtn {
        margin: 10px 35px;
    }

    #login-center-form {
        left: 25%;
    }
    
    #register-center-form {
        left: 25%;
    }
}