@font-face {
    font-family: pixelFont;
    src: url(ttf/yoster.ttf);
}

body {
    background: -webkit-linear-gradient(right, #0d0729, #111111);   
    padding: 0;
    margin: 0;
    font-family: pixelFont, Courier, monospace;
}


/* navigation bar w/ logo & title */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container h4 {
    color: white;
}


/* nav options */
.nav-options {
    display: flex;
}

.nav-options  h4 {
    cursor: pointer;
    color: white;
    margin: 0 1rem;

}


/* login */
#login-center-form {
    display: none;
    position: fixed;
    top: 30%;
    left: 35%;
    width: 100%;
}

.form-container {
    position: relative;
    border-radius: 30px;
    background: black;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    width: 30%;
    padding: 0 1rem 2rem 1rem;
}

.form-container h1 {
    color: white;
}

.form-container input {
    font-family: pixelFont, Courier, monospace;
    border-radius: 30px;
    padding: 10px;
    margin: 5px 0;
    outline: none;
}

.form-container button {
    font-family: pixelFont, Courier, monospace;
    border-radius: 30px;
    padding: 5px;
    margin-top: 10px;
}


/* register */
#register-center-form {
    display: none;
    position: fixed;
    top: 20%;
    left: 35%;
    width: 100%;
}

/* both register and login functionalities */
.xIcon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 5%; 
}


/* music icon */
#musicButton {
    position: absolute;
    inset: 10px 5px;
}


/* container of the Game */
.center-game {
    border: 1px solid rgb(255, 255, 255);
    position: relative;
    color: white;
    text-align: center;
    width: 60rem;
    height: 25rem;
    margin: 3em auto;
    background-image: url("images/start\ game\ bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}


/* text of the the game */
.title {
    margin-top: 0;
    font-size: 4em;
    color: #fff;
    text-align: center;
    text-shadow:
    3px 3px 0 #000000,
    -3px 3px 0 #ff0000,
    -3px -3px 0 #000000,
    3px -3px 0 #000000;
}

.start a {
    color: white;
    text-decoration: none;
}

.start-container {
    display: grid;
    place-items: center;
}

.start {
    color: #fff;
    text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
    font-size: 3em;
}


/* RESPONSIVENESS */
@media (max-width: 930px) {
    .center-game {
        width: 50rem;
        height: 20rem;
    }

    .title {
        font-size: 4em;
        color: #fff;
    }

    .start {
        font-size: 3em;
    }

    #musicButton {
        width: 35px;
        inset: 15px 5px;
    }
}

@media (max-width: 745px) {

    .center-game {
        width: 35rem;
        height: 17.5rem;
        margin: 5em auto;
    }

    .title {
        font-size: 3em;
        color: #fff;
    }

    .start {
        font-size: 2em;
    }

    #musicButton {
        width: 30px;
    }

    .form-container {
        padding: 0 1rem 2rem 1rem;
    }
    
    #login-center-form {
        left: 30%;
        width: 110%;
    }
    
    #register-center-form {
        left: 30%;
        width: 110%;
    }

    .form-container input {
        width: 90%;
    }
}

@media (max-width: 570px) {
    .center-game {
        width: 25rem;
        height: 12rem;
    }

    .title {
        font-size: 2em;
        color: #fff;
    }

    .start {
        font-size: 1.5em;
    }

    #musicButton {
        width: 25px;
        inset: 5px 3px;
    }

    .form-container input {
        padding: 5px;
        margin: 5px 0;
        width: 90%;
    }

    #login-center-form {
        left: 30%;
        width: 105%;
    }
    
    #register-center-form {
        left: 30%;
        width: 105%;
    }
}